@use "variables" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

//mobile text styles
@mixin font-m-body {
    font-size: 0.8125rem;
    line-height: 1.1875rem;
    font-weight: 700;
}
//desktop text styles
@mixin font-body{
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 700;
}