@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.comments{
    display: flex;
    flex-direction: column ;
    &__container{
        background-color: $neutral-white;
        margin-bottom: 1rem;
        padding: 1rem;
        border-radius: .5rem;
    }
    &__reply{
        background-color: $neutral-white;
        padding: 1rem;
        border-radius: .5rem;
    
    }
    &__reply-container{
        padding-left: 1rem;
        border-left: $neutral-lightGray 2px solid;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }
    &__top-div{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    &__username{
        font-size: 1rem;
        font-family: "Rubik";
        color: $neutral-darkBlue;
        font-weight: 500;
    }
    &__date{
        font-size: 1rem;
        font-family: "Rubik";
        color: $neutral-grayishBlue;
        font-weight: 400;
    }
    &__body{
        font-size: 1rem;
        font-family: "Rubik";
        color: $neutral-grayishBlue;
        font-weight: 400;
        line-height: 1.25rem;
    }
    &__profile{
        border-radius: 50%;
        background-color: $primary-moderateBlue;
        width: 30px;
        height: 30px;
    }
    &__bottom-div{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
