@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.like-button{
    color: $primary-moderateBlue;
    background-color: $neutral-veryLightGray;
    padding: .25rem .75rem;
    border: 1px solid $neutral-veryLightGray;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    &__add, &__remove{
        border: none;
        background-color: $neutral-veryLightGray;
        color: $neutral-darkBlue;
        font-size: 1.25rem;
        cursor: pointer;
        border-radius: 5px; 
    }
    
    &__remove{
        margin-bottom: 7.5px;
    }
    &__count{
        margin: 0 0.5rem ;
    }

}

